/* .container-fluid{
    height: 200px;
    background-color: #131313;
    color: whitesmoke;
}

.navbar{
    background-color: lightseagreen;
}

.objective{
    background-color: lightcoral;
    height: 300px;

}

.ads{
    background-color: pink;
} */